<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Filmälskaren</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="images/popcorn.jpg" alt="" /></span>
						<h1>FILMÄLSKAREN</h1>
						<form action="/movie" method="POST">
			       <input type="text" name="search" placeholder="Sök filmtitel..">
					</header>


				<!-- Footer -->
					<footer id="footer">
						<p>Ellinor Mavéus och Elin Rossander. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

	</body>
</html>
